.footer-edit-item-bts{
    position: fixed;
    bottom: 5%;
    width: 79%;
    left: initial;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-item-delete-button{
    position: absolute;
    right: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}