.flexbox-container {
  display: flex;
  flex-direction: row;
  /*flex-direction: row | row-reverse | column | column-reverse;*/
  height: 84px;
}
.horizontal-list {
  margin-left: 20px;
}
.toDoListBorder {
  border: 0.02cm;
  border-color: black;
  border-style: solid;
  border-radius: 1ch;
  margin-top: 10px;
  text-decoration: none;
}

.list-card-style {
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: baseline;
}
.contributor-on-icon{
    padding-right: 1%;
}