.delete-btn__list-view{
    position: absolute;
    right: 0;
    transform: translateY(-50%);
    margin-right: 4%;
    margin-top: 4%;
    display: flex;
    justify-content: center;

}
.list-view-top-bar__div{
    padding: 0 15px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.list-view-list-name__h1{
    text-align: -webkit-center;
    font-weight: bold;
    
}